<html>
    <head>
            <div class="jumbotron hdiv">
                    <h1 class="display-4">Football Point</h1>
                    <p class="lead">Get the latest updates from all the different european leagues</p>
                    <hr class="my-4">
                    
                  </div>
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body  >
        <div class="container">
                <div>
                    <ul class="nav justify-content-center">
                            <button type="button" class="btn btn-primary "id= "bt1" >Scheduled Fixtures</button>
                            <button type="button" class="btn btn-primary" id= "bt2" >Live Fixtures</button>
                            <button type="button" class="btn btn-primary" id= "bt3" >Finished Fixtures</button> 
                    </ul>
                          
                </div>
                    <div id="container1" >
                            
                        
                    </div>
                    
        </div>
        
        <div class ="container mclass">
            
            <div>
                <p class="style2">
                    <h1 id="std">LEAGUE STANDINGS</h1>
                
                <ul class="nav justify-content-center">
                        <button type="button" class="btn btn-success "id= "bt4" >premier League</button>
                        <button type="button" class="btn btn-success "id= "bt5" >laliga</button>
                        <button type="button" class="btn btn-success "id= "bt6" >Bundesliga</button>
                        <button type="button" class="btn btn-success "id= "bt7" >Ligue 1</button>
                </ul>
            </p>
            </div>
            
            <div id="container2" >
                            
                        
            </div>
        </div>
        <script type ="text/javascript" src="jscript.js"></script>
    </body>
</html>